.mario {
    position: absolute;
    width: var(--mario-width, 32px);
    height: var(--mario-height, 32px);
    background-image: url('/src/assets/mario_32_0.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.mario--facing-right {
    transform: scaleX(-1);
}

.mario--sprite-1 {
    background-image: url('/src/assets/mario_32_1.png');
}

.mario--sprite-2 {
    background-image: url('/src/assets/mario_32_2.png');
}